<!--<app-saludo></app-saludo>
<app-eventos></app-eventos>
<app-cronometro></app-cronometro>
<app-calculadora></app-calculadora>-->
<!-- Input, output decorator and property binding 
<app-alerta title="Modificado desde el padre 1" subMessage="Subtitulo desde el padre" (alertCreated)="alertReceived($event)"></app-alerta>
<app-alerta title="Modificado desde el padre 1"></app-alerta>
<app-alerta [title]="titles[0]" subMessage="Subtitulo desde el padre"></app-alerta>
<p>{{receivedAlert}}</p>-->
<!-- Property binding with the Input decorator
<app-sumar [numeroA]="numbers[3]" [numeroB]="numbers[0]"></app-sumar>
<app-sumar [numeroA]="numbers[6]" [numeroB]="numbers[9]"></app-sumar>
<app-cronometro [initialValue]="numbers[2]" (stopCount)="stopCountReceived($event)"></app-cronometro>
<app-cronometro [initialValue]="numbers[4]" (stopCount)="stopCountReceived($event)"></app-cronometro>
<app-cronometro [initialValue]="numbers[7]" (stopCount)="stopCountReceived($event)"></app-cronometro>-->
<!-- two way binding
<input type="text" [(ngModel)]="textField">
<p>{{textField}}</p>
<button (click) = "onClick()"> Change text value</button>
-->
<!-- two way binding with more complex objects
<div>
    <input type="text" [(ngModel)]="someObject.name">
    <input type="text" [(ngModel)]="someObject.lastName">
    <input type="text" [(ngModel)]="someObject.email">
</div>

<p>My name is: {{someObject.name}} {{someObject.lastName}} and my email is {{someObject.email}}</p>-->
<!-- Ejercicio ToDo
<div class="tareas">
    <app-formulario (tareaCreada)="tareaRecibida($event)"></app-formulario>
    <app-lista [tareas]="arrTareas"></app-lista>
</div>-->
<!-- Ciclos de vida de los componentes 
<app-main [texto]="varTexto"></app-main>-->
<!-- Ejemplos directivas de atributos
<app-semaforo></app-semaforo>
<p [ngStyle]="estiloParrafo"> Texto de prueba sujeto a cambios en su estilo</p>
<div>
    <button (click)="cambiaColor('rosa')">Rosa</button>
    <button (click)="cambiaColor('amarillo')">Amarillo</button>
</div>
<div>
    <input type="text" [(ngModel)]="estiloParrafo.color">
</div>
<div>
    <input type="range" min="10" max="50" step="2" (input)="onChange($event)">
</div>-->
<!-- Directivas estructurales (ngIf)
<p *ngIf="mostrarParrafo">Contenido del primer paragraph</p>
<p *ngIf="!mostrarParrafo">Contenido del segundo paragraph</p>
<div>
    <button (click)="onClickMostrarParrafo()">Mostrar/Ocultar</button>
</div>-->
<!-- ngFor
<app-bucles></app-bucles>-->
<!--ngSwitch
<div [ngSwitch]="switchVarString">
    <p *ngSwitchCase="'opt1'">Option 1</p>
    <p *ngSwitchCase="'opt2'">Option 2</p>
    <p *ngSwitchDefault>None of the others</p>
</div>

<div [ngSwitch]="switchVarNumber">
    <p *ngSwitchCase="1">Option 1</p>
    <p *ngSwitchCase="2">Option 2</p>
    <p *ngSwitchDefault>None of the others</p>
</div>-->

<!-- ToDo list mejorado 
<div class="container">
    <div class="formulario">
        <app-formulario (tareaCreada)="tareaRecibida($event)"></app-formulario>
    </div>
    <div class="lista-tareas">
        <app-lista [tareas]="arrTareas"></app-lista>
    </div>
</div>-->

<!-- Ejercicio caja registradora
<h1>Caja registradora</h1>
<div class="container">
    <div class="lista-productos">
        <app-productos [tipoProducto]="'Comida'" [productos]="arrComidas" (productoSeleccionado)="onRecibirProducto($event)"></app-productos>        
        <app-productos [tipoProducto]="'Bebidas'" [productos]="arrBebidas" (productoSeleccionado)="onRecibirProducto($event)"></app-productos>
    </div>
    <div class="lista-deseados">
        <app-deseados [productosDeseados] = "arrProductosDeseados"></app-deseados>
    </div>
</div> -->

<!-- Uso de directivas personalizadas (Subrayado)
<p [subrayado]="configInputDirectivaCustom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam commodi assumenda quam molestiae, nam voluptatum voluptates, doloremque quia harum quaerat at obcaecati exercitationem consequatur! Optio tenetur inventore quasi sit a?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam commodi assumenda quam molestiae, nam voluptatum voluptates, doloremque quia harum quaerat at obcaecati exercitationem consequatur! Optio tenetur inventore quasi sit a?</p>
<p [subrayado]="{colorHover: 'yellow', colorNoHover: 'purple'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam commodi assumenda quam molestiae, nam voluptatum voluptates, doloremque quia harum quaerat at obcaecati exercitationem consequatur! Optio tenetur inventore quasi sit a?</p>-->

<!-- Ejercicio lista de compras 

<div class="container">
    <div class="row">
        <app-formulario2 [departamentos]="arrDepartamentos" (productoCreado)="onRecibirProductoCreado($event)">
        </app-formulario2>
    </div>
    <div class="row productos">
        <div class="derecha">
            <h2>Lista de productos:</h2>
            <app-productos2 accion="Comprar" [productos]="arrProductos"
                (productoSeleccionado)="onRecibirProductoComprado($event)"></app-productos2>
        </div>
        <div class="izquierda">
            <h2>Lista de compra:</h2>
            <app-productos2 accion="Quitar" [productos]="arrProductosCompra"
                (productoSeleccionado)="onRecibirProductoQuitado($event)"></app-productos2>
        </div>
    </div>
</div>-->

<!-- Ejemplo de Routing 
<header>
    <h1>Header</h1>
</header>
<div>
    <p>Contenido pagina</p>
    <div class="rutas">
        <a [routerLink]="['/info']" routerLinkActive="activa">Hacia info</a>
        <a [routerLink]="['/about']" routerLinkActive="activa">Hacia about</a>
        <a [routerLink]="['/contact']" routerLinkActive="activa">Hacia contact</a>
    </div>
    <div>
        <button (click)="onClick('info')">Hacia info</button>
        <button (click)="onClick('about')">Hacia about</button>
        <button (click)="onClick('contact')">Hacia contact</button>
        <button (click)="onClick('productos/123')">Hacia detalle</button>
    </div>
    <router-outlet></router-outlet>
</div>
<footer>
    <h1>Footer</h1>
</footer>-->

<!-- Ejemplo de Services -->
<table>
    <tr>
        <th>Nombre</th>
        <th>Valor</th>
        <th>Cantidad</th>
    </tr>
    <tr *ngFor="let producto of arrProductosServicio">
        <td>{{producto.nombre}}</td>
        <td>{{producto.valor}}</td>
        <td>{{producto.cantidad}}</td>
    </tr>
</table>
<button (click)="onClickCargarProductos()">Cargar productos</button>
<button (click)="onClickFiltrarProductos()">Filtrar productos</button>
