.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista .tarea {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 20%;
    margin: 5px;
}

.incompleto {
    background-color:crimson;
}

.completo{
    background-color: forestgreen;
}

button{
    margin-right: 5px;
}
