<div class="formulario">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" [(ngModel)]="producto.nombre">
    </div>
    <div class="form-group">
        <label>Cantidad ({{producto.cantidad}})</label>
        <input type="range" min="1" max="10" step="1" [(ngModel)]="producto.cantidad">
    </div>
    <div class="form-group">
        <select [(ngModel)]="producto.departamento" aria-placeholder="Seleccione un departamento">
            <option selected value="">Seleccione un departamento</option>
            <option [value]="departamento" *ngFor="let departamento of departamentos">{{departamento}}</option>
        </select>
    </div>
    <p class="validacion" *ngIf="hayError">{{textoError}}</p>
    <button (click)="onClick()">Guardar</button>
</div>