.formulario{
    padding: 20px;
    background-color: cadetblue;
}

.formulario button{
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.validacion{
    color: crimson;
    font-size: 14px;
}

